{{ if default false .Params.mathjax }}

<script>
MathJax = {
  tex: {
    inlineMath: [['m$', '$m']],
    displayMath: [['m$$', '$$m']]
  }
};
</script>

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

{{ end }}